html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.controls {
    fill: #fff;
    stroke: #000;
    stroke-width: 1px;
}
.controls:hover {
    fill: pink;
}
.controls--selected {
    fill: red;
}
.controls--selected.controls--bounds {
    opacity: 0.5;
    fill: #fff;
}


.marker {
    fill: #fff;
    stroke: #000;
    stroke-width: 2px;
}
